!.git_empty
*.exp
*.lib
*.o
*.obj
*.sw[op]
.vs/
__pycache__/
libgui/.qmake.stash
libgui/debug/*
libgui/Makefile*
libgui/moc_*.cpp
libgui/release/*
roar-python/libgui/GuiCanvasWxBackendFast.pyd
roar-python/librtl/ImgurApiKey.py
roar-vs/x64/
x64/
