.h1 { font-size: 32px }
.h2 { font-size: 24px }
.h3 { font-size: 18.72px }
.h4 { font-size: 16px }
.h5 { font-size: 13.28px }
.h6 { font-size: 10.72px }

[class^=h] {
font-weight: bold;
display:block;
margin-top:8px;
margin-bottom:8px;
}


body {
background:#000;
background-image:url('../images/tile.jpg');
font-size:16pt;
font-family:times new roman;
color:rgb(255,255,0);
}

i {
color:#0f0!important;
}

a:link {
color:rgb(0,255,255);
}

a:visited {
color:#00f;
}

a:active {
color:#fff;
}



.code {
white-space:pre-wrap;
background: rgba(128,0,128,.3);
color: rgb(255,0,255);
font-size: 16pt;
font-family: Consolas, Menlo, Courier, monospace;
}

.inline {
padding: 1px 4px;
}

.block {
padding:12px 16px;
border-width: 0 0 0 5px;
border-style: solid;
border-color:#0f0;
}

table {
border-spacing: 0px;
border:3px solid #00f;
margin:10px 0;
font-size:20px;
color:#0ff!important;
font-size:12pt!important;
}

td {
padding: 6px 9px;
border:2px solid #00f

}

h1 {
font-size:42px;
margin-bottom:15px;
color:#f0f!important
}

h2 {
color:#0ff!important;
margin-top:15px;
margin-bottom:15px;
}

h3 {
color:#f00!important
}

h4 {
color:#0f0!important
}

h5 {
color:#00f!important
}

a:visited i {
color:#00f!important;
}

a i {
color:#f0f!important
}

a:active i {
color:#ff0!important
}

/*
.logo {
background:url('https://jollo.org/assets/images/logo/rebomine_logo.gif');
width:255px;
height:107px;
float:right;
}
*/
