#!/usr/bin/env python3
#
# ImgurApiKey.py
# Copyright (c) 2018, 2019 Lucio Andrés Illanes Albornoz <lucio@lucioillanes.de>
# This project is licensed under the terms of the MIT licence.
#

class ImgurApiKey(object):
    imgurApiKey = None

# vim:expandtab foldmethod=marker sw=4 ts=4 tw=120
