#!/usr/bin/env python3
#
# MiRCARTImgurApiKey.py -- melp?
# Copyright (c) 2018 Lucio Andrés Illanes Albornoz <lucio@lucioillanes.de>
# This project is licensed under the terms of the MIT licence.
#

class MiRCARTImgurApiKey(object):
    imgurApiKey = None

# vim:expandtab foldmethod=marker sw=4 ts=4 tw=120
